#pragma code_page(65001)

#include <windows.h>

#include "Resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK

IDDIALOG_MAIN_DIALOG DIALOGEX 0, 0, MAIN_DIALOG_WIDTH, 107
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
MENU IDMENU_MAIN_MENU
FONT 10, "Tahoma", 400, 0, 0x0
BEGIN
    LTEXT           "Port:",IDSTATIC_PORT,5,6,35,8
    COMBOBOX        IDCOMBO_PORT,42,4,90,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Update",IDBUTTON_UPDATE_PORT_LIST,136,3,50,14
    PUSHBUTTON      "Browse",IDBUTTON_BROWSE_TARGET,136,50,50,14
    LTEXT           "TARGET",IDSTATIC_TARGET,5,53,36,8
    PUSHBUTTON      "Send Mode",IDBUTTON_SEND_MODE,4,21,90,25
    PUSHBUTTON      "Receive Mode",IDBUTTON_RECEIVE_MODE,97,21,89,25
    PUSHBUTTON      "",IDBUTTON_EXECUTE,4,68,182,25
    EDITTEXT        IDEDIT_TARGET,42,50,90,14,ES_AUTOHSCROLL
END

IDMENU_MAIN_MENU MENU
BEGIN
    POPUP "File(&F)"
    BEGIN
        MENUITEM "Version(&V)",                 IDMENUENTRY_FILE_VERSION
        MENUITEM SEPARATOR
        MENUITEM "Exit(&X)",                    IDMENUENTRY_FILE_EXIT
    END
    MENUITEM "Baud Rate(&B)",               IDMENUENTRY_BAUDRATE
END

STRINGTABLE
BEGIN
    IDSTRING_STATUSBAR_TEXT_READY "Ready"
    IDSTRING_MAIN_DIALOG_TITLE_SEND_MODE "SFTT - Send Mode"
    IDSTRING_MAIN_DIALOG_TITLE_RECEIVE_MODE "SFTT - Receive Mode"
    IDSTRING_EXECUTE_BUTTON_LABEL_SEND_MODE "Send File"
    IDSTRING_EXECUTE_BUTTON_LABEL_RECEIVE_MODE "Start Receiving"
    IDSTRING_TARGET_LABEL_SEND_MODE "File:"
    IDSTRING_TARGET_LABEL_RECEIVE_MODE "Destination:"
    IDSTRING_VERSION_DIALOG_TITLE "About SerialFileTransferTool"
    IDSTRING_VERSION_DIALOG_TEXT "SerialFileTransferTool v%ls\n\n%ls\n\nGitHub: %ls"
    IDSTRING_SFTT_VERSION "0.1.0.0"
    IDSTRING_SFTT_LICENCE "MIT Licence"
    IDSTRING_SFTT_GITHUB "https://github.com/t-sasaki915/SerialFileTransferTool"
END
