#pragma code_page(65001)

#include <windows.h>

#include "Resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK

IDDIALOG_MAIN_DIALOG DIALOGEX 0, 0, MAIN_DIALOG_WIDTH, 107
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
MENU IDMENU_MAIN_MENU
FONT 10, "Tahoma", 400, 0, 0x0
BEGIN
    LTEXT           "Port:",IDSTATIC_PORT,2,6,35,8
    COMBOBOX        IDCOMBO_PORT,42,4,90,200,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Update",IDBUTTON_UPDATE_PORT_LIST,136,3,50,14
    PUSHBUTTON      "Browse",IDBUTTON_BROWSE_TARGET,136,50,50,14
    LTEXT           "TARGET",IDSTATIC_TARGET,2,53,40,8
    PUSHBUTTON      "Send Mode",IDBUTTON_SEND_MODE,4,21,90,25
    PUSHBUTTON      "Receive Mode",IDBUTTON_RECEIVE_MODE,97,21,89,25
    PUSHBUTTON      "",IDBUTTON_EXECUTE,4,68,182,25
    EDITTEXT        IDEDIT_TARGET,42,50,90,14,ES_AUTOHSCROLL
END

IDDIALOG_BAUD_RATE_SETTING DIALOGEX 0, 0, 123, 41
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Baud Rate Setting"
FONT 10, "Tahoma", 400, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDBUTTON_BRS_OK,13,23,50,14
    PUSHBUTTON      "Cancel",IDBUTTON_BRS_CANCEL,69,23,50,14
    LTEXT           "New Baud Rate:",IDSTATIC_BRS_NEW_BAUD_RATE,4,7,54,8
    EDITTEXT        IDEDIT_BRS_NEW_BAUD_RATE,61,5,58,14,ES_AUTOHSCROLL | ES_NUMBER
END

IDMENU_MAIN_MENU MENU
BEGIN
    POPUP "File(&F)"
    BEGIN
        MENUITEM "Version(&V)",                 IDMENUENTRY_FILE_VERSION
        MENUITEM SEPARATOR
        MENUITEM "Exit(&X)",                    IDMENUENTRY_FILE_EXIT
    END
    MENUITEM "Baud Rate(&B)",               IDMENUENTRY_BAUDRATE
END

STRINGTABLE
BEGIN
    IDSTRING_STATUSBAR_TEXT_READY "Ready"
    IDSTRING_STATUSBAR_TEXT_SENDING "Sending"
    IDSTRING_STATUSBAR_TEXT_RECEIVING "Receiving"
    IDSTRING_MAIN_DIALOG_TITLE_SEND_MODE "SFTT - Send Mode"
    IDSTRING_MAIN_DIALOG_TITLE_RECEIVE_MODE "SFTT - Receive Mode"
    IDSTRING_EXECUTE_BUTTON_LABEL_SEND_MODE "Send File"
    IDSTRING_EXECUTE_BUTTON_LABEL_RECEIVE_MODE_START "Start Receiving"
    IDSTRING_EXECUTE_BUTTON_LABEL_RECEIVE_MODE_STOP "Stop Receiving"
    IDSTRING_TARGET_LABEL_SEND_MODE "File:"
    IDSTRING_TARGET_LABEL_RECEIVE_MODE "Destination:"
    IDSTRING_VERSION_DIALOG_TITLE "About SerialFileTransferTool"
    IDSTRING_VERSION_DIALOG_TEXT "SerialFileTransferTool v%ls\n\n%ls\n\nGitHub: %ls"
    IDSTRING_SFTT_VERSION SFTT_VERSION
    IDSTRING_SFTT_LICENCE SFTT_LICENCE
    IDSTRING_SFTT_GITHUB SFTT_GITHUB
    IDSTRING_ERROR_DIALOG_TITLE "SFTT"
    IDSTRING_CANNOT_OPEN_FILE_ERROR "Cannot open the file '%ls': %lu."
    IDSTRING_CANNOT_GET_FILE_SIZE_ERROR "Cannot get the size of the file '%ls': %lu."
    IDSTRING_CANNOT_WRITE_FILE_ERROR "Cannot write to file: '%lu'."
    IDSTRING_PORT_NOT_SPECIFIED_ERROR "Please specify a port."
    IDSTRING_FILE_PATH_NOT_SPECIFIED_ERROR "Please specify a filepath."
    IDSTRING_DESTINATION_NOT_SPECIFIED_ERROR "Please specify a destination."
    IDSTRING_CANNOT_OPEN_COM_PORT_ERROR "Cannot open the COM port '%ls': %lu."
    IDSTRING_CANNOT_READ_COM_PORT_ERROR "Cannot read COM port: '%lu'."
    IDSTRING_CANNOT_WRITE_COM_PORT_ERROR "Cannot write to COM port: '%lu'."
    IDSTRING_BYTES_READ_MISMATCH_ERROR "Bytes read mismatch. Expected: %lu, Read: %lu."
    IDSTRING_BYTES_WRITTEN_MISMATCH_ERROR "Bytes written mismatch. Expected: %lu, Written: %lu."
    IDSTRING_SHA1_INPUT_ERROR "SHA1 input error."
    IDSTRING_SHA1_CALCULATION_ERROR "SHA1 calculation error."
    IDSTRING_SHA1_MISMATCH_ERROR "SHA1 mismatch.\nExpected: %ls,\nActual: %ls."
    IDSTRING_SERIAL_START_SIGNATURE_MISMATCH_ERROR "Serial start signature mismatch. Expected: 0x%016I64X, Read: 0x%016I64X."
    IDSTRING_SERIAL_FINAL_SIGNATURE_MISMATCH_ERROR "Serial final signature mismatch. Expected: 0x%016I64X, Read: 0x%016I64X."
    IDSTRING_RECEIVE_DESTINATION_BROWSE_DIALOG_TITLE "Please select the directory in which received data will be stored."
    IDSTRING_BRS_ERROR_DIALOG_TITLE "Baud Rate Setting"
    IDSTRING_BRS_BAUD_RATE_EMPTY_ERROR "Please enter a baud rate."
    IDSTRING_BRS_BAUD_RATE_OUT_OF_RANGE_ERROR "The baud rate is out of range."
END

LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN

IDDIALOG_MAIN_DIALOG DIALOGEX 0, 0, MAIN_DIALOG_WIDTH, 107
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
MENU IDMENU_MAIN_MENU
FONT 10, "MS PGothic", 400, 0, 0x0
BEGIN
    LTEXT           "ポート:",IDSTATIC_PORT,2,6,35,8
    COMBOBOX        IDCOMBO_PORT,42,4,90,200,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "更新",IDBUTTON_UPDATE_PORT_LIST,136,3,50,14
    PUSHBUTTON      "参照",IDBUTTON_BROWSE_TARGET,136,50,50,14
    LTEXT           "TARGET",IDSTATIC_TARGET,2,53,40,8
    PUSHBUTTON      "送信モード",IDBUTTON_SEND_MODE,4,21,90,25
    PUSHBUTTON      "受信モード",IDBUTTON_RECEIVE_MODE,97,21,89,25
    PUSHBUTTON      "",IDBUTTON_EXECUTE,4,68,182,25
    EDITTEXT        IDEDIT_TARGET,42,50,90,14,ES_AUTOHSCROLL
END

IDDIALOG_BAUD_RATE_SETTING DIALOGEX 0, 0, 123, 41
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "ボーレート設定"
FONT 10, "MS PGothic", 400, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDBUTTON_BRS_OK,13,23,50,14
    PUSHBUTTON      "キャンセル",IDBUTTON_BRS_CANCEL,69,23,50,14
    LTEXT           "新しいボーレート:",IDSTATIC_BRS_NEW_BAUD_RATE,4,7,54,8
    EDITTEXT        IDEDIT_BRS_NEW_BAUD_RATE,61,5,58,14,ES_AUTOHSCROLL | ES_NUMBER
END

IDMENU_MAIN_MENU MENU
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "バージョン情報(&V)",                 IDMENUENTRY_FILE_VERSION
        MENUITEM SEPARATOR
        MENUITEM "閉じる(&X)",                    IDMENUENTRY_FILE_EXIT
    END
    MENUITEM "ボーレート(&B)",               IDMENUENTRY_BAUDRATE
END

STRINGTABLE
BEGIN
    IDSTRING_STATUSBAR_TEXT_READY "準備完了"
    IDSTRING_STATUSBAR_TEXT_SENDING "送信中"
    IDSTRING_STATUSBAR_TEXT_RECEIVING "受信中"
    IDSTRING_MAIN_DIALOG_TITLE_SEND_MODE "SFTT - 送信モード"
    IDSTRING_MAIN_DIALOG_TITLE_RECEIVE_MODE "SFTT - 受信モード"
    IDSTRING_EXECUTE_BUTTON_LABEL_SEND_MODE "ファイルを送信"
    IDSTRING_EXECUTE_BUTTON_LABEL_RECEIVE_MODE_START "受信開始"
    IDSTRING_EXECUTE_BUTTON_LABEL_RECEIVE_MODE_STOP "受信停止"
    IDSTRING_TARGET_LABEL_SEND_MODE "ファイル:"
    IDSTRING_TARGET_LABEL_RECEIVE_MODE "受け取り先:"
    IDSTRING_VERSION_DIALOG_TITLE "SerialFileTransferToolについて"
    IDSTRING_VERSION_DIALOG_TEXT "SerialFileTransferTool バージョン%ls\n\n%ls\n\nGitHub: %ls"
    IDSTRING_SFTT_VERSION SFTT_VERSION
    IDSTRING_SFTT_LICENCE SFTT_LICENCE
    IDSTRING_SFTT_GITHUB SFTT_GITHUB
    IDSTRING_ERROR_DIALOG_TITLE "SFTT"
    IDSTRING_CANNOT_OPEN_FILE_ERROR "ファイル '%ls' を開くことができませんでした。: %lu."
    IDSTRING_CANNOT_GET_FILE_SIZE_ERROR "ファイル '%ls' のサイズを計算できませんでした。: %lu."
    IDSTRING_CANNOT_WRITE_FILE_ERROR "ファイルに書き込むことができませんでした。: '%lu'."
    IDSTRING_PORT_NOT_SPECIFIED_ERROR "ポートを選択してください。"
    IDSTRING_FILE_PATH_NOT_SPECIFIED_ERROR "送信するファイルを選択してください。"
    IDSTRING_DESTINATION_NOT_SPECIFIED_ERROR "受取先のディレクトリを選択してください。"
    IDSTRING_CANNOT_OPEN_COM_PORT_ERROR "COMポート '%ls' を開くことができませんでした。: %lu."
    IDSTRING_CANNOT_READ_COM_PORT_ERROR "COMポートを読み出すことができませんでした。: '%lu'."
    IDSTRING_CANNOT_WRITE_COM_PORT_ERROR "COMポートに書き込むことができませんでした。: '%lu'."
    IDSTRING_BYTES_READ_MISMATCH_ERROR "読み取りバイトに不整合がありました。想定: %lu、実際: %lu。"
    IDSTRING_BYTES_WRITTEN_MISMATCH_ERROR "書き込みバイトに不整合がありました。想定: %lu、実際: %lu。"
    IDSTRING_SHA1_INPUT_ERROR "SHA1入力エラーです。"
    IDSTRING_SHA1_CALCULATION_ERROR "SHA1計算エラーです。"
    IDSTRING_SHA1_MISMATCH_ERROR "SHA1に不整合がありました。\n想定: %ls\n実際: %ls."
    IDSTRING_SERIAL_START_SIGNATURE_MISMATCH_ERROR "シリアル通信の開始シグネチャに不整合がありました。想定: 0x%016I64X、 実際: 0x%016I64X。"
    IDSTRING_SERIAL_FINAL_SIGNATURE_MISMATCH_ERROR "シリアル通信の終了シグネチャに不整合がありました。想定: 0x%016I64X、 実際: 0x%016I64X。"
    IDSTRING_RECEIVE_DESTINATION_BROWSE_DIALOG_TITLE "受け取ったデータを保存するディレクトリを選択してください。"
    IDSTRING_BRS_ERROR_DIALOG_TITLE "ボーレート設定"
    IDSTRING_BRS_BAUD_RATE_EMPTY_ERROR "ボーレートを入力してください。"
    IDSTRING_BRS_BAUD_RATE_OUT_OF_RANGE_ERROR "そのボーレートは範囲外です。"
END
