#pragma code_page(65001)

#include <windows.h>

#include "Resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK

IDDIALOG_MAIN_DIALOG DIALOGEX 0, 0, MAIN_DIALOG_WIDTH, 107
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
MENU IDMENU_MAIN_MENU
FONT 10, "Tahoma", 400, 0, 0x0
BEGIN
    LTEXT           "Port:",IDSTATIC_PORT,5,6,35,8
    COMBOBOX        IDCOMBO_PORT,42,4,90,200,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Update",IDBUTTON_UPDATE_PORT_LIST,136,3,50,14
    PUSHBUTTON      "Browse",IDBUTTON_BROWSE_TARGET,136,50,50,14
    LTEXT           "TARGET",IDSTATIC_TARGET,5,53,36,8
    PUSHBUTTON      "Send Mode",IDBUTTON_SEND_MODE,4,21,90,25
    PUSHBUTTON      "Receive Mode",IDBUTTON_RECEIVE_MODE,97,21,89,25
    PUSHBUTTON      "",IDBUTTON_EXECUTE,4,68,182,25
    EDITTEXT        IDEDIT_TARGET,42,50,90,14,ES_AUTOHSCROLL
END

IDMENU_MAIN_MENU MENU
BEGIN
    POPUP "File(&F)"
    BEGIN
        MENUITEM "Version(&V)",                 IDMENUENTRY_FILE_VERSION
        MENUITEM SEPARATOR
        MENUITEM "Exit(&X)",                    IDMENUENTRY_FILE_EXIT
    END
    MENUITEM "Baud Rate(&B)",               IDMENUENTRY_BAUDRATE
END

STRINGTABLE
BEGIN
    IDSTRING_STATUSBAR_TEXT_READY "Ready"
    IDSTRING_STATUSBAR_TEXT_SENDING "Sending"
    IDSTRING_STATUSBAR_TEXT_RECEIVING "Receiving"
    IDSTRING_MAIN_DIALOG_TITLE_SEND_MODE "SFTT - Send Mode"
    IDSTRING_MAIN_DIALOG_TITLE_RECEIVE_MODE "SFTT - Receive Mode"
    IDSTRING_EXECUTE_BUTTON_LABEL_SEND_MODE "Send File"
    IDSTRING_EXECUTE_BUTTON_LABEL_RECEIVE_MODE_START "Start Receiving"
    IDSTRING_EXECUTE_BUTTON_LABEL_RECEIVE_MODE_STOP "Stop Receiving"
    IDSTRING_TARGET_LABEL_SEND_MODE "File:"
    IDSTRING_TARGET_LABEL_RECEIVE_MODE "Destination:"
    IDSTRING_VERSION_DIALOG_TITLE "About SerialFileTransferTool"
    IDSTRING_VERSION_DIALOG_TEXT "SerialFileTransferTool v%ls\n\n%ls\n\nGitHub: %ls"
    IDSTRING_SFTT_VERSION "0.1.0.0"
    IDSTRING_SFTT_LICENCE "MIT Licence"
    IDSTRING_SFTT_GITHUB "https://github.com/t-sasaki915/SerialFileTransferTool"
    IDSTRING_ERROR_DIALOG_TITLE "SFTT"
    IDSTRING_CANNOT_OPEN_FILE_ERROR "Cannot open the file '%ls': %lu."
    IDSTRING_CANNOT_GET_FILE_SIZE_ERROR "Cannot get the size of the file '%ls': %lu."
    IDSTRING_CANNOT_WRITE_FILE_ERROR "Cannot write to file: '%lu'."
    IDSTRING_PORT_NOT_SPECIFIED_ERROR "Please specify a port."
    IDSTRING_FILE_PATH_NOT_SPECIFIED_ERROR "Please specify a filepath."
    IDSTRING_DESTINATION_NOT_SPECIFIED_ERROR "Please specify a destination."
    IDSTRING_CANNOT_OPEN_COM_PORT_ERROR "Cannot open the COM port '%ls': %lu."
    IDSTRING_CANNOT_READ_COM_PORT_ERROR "Cannot read COM port: '%lu'."
    IDSTRING_CANNOT_WRITE_COM_PORT_ERROR "Cannot write to COM port: '%lu'."
    IDSTRING_BYTES_READ_MISMATCH_ERROR "Bytes read mismatch. Expected: %lu, Read: %lu."
    IDSTRING_BYTES_WRITTEN_MISMATCH_ERROR "Bytes written mismatch. Expected: %lu, Written: %lu."
    IDSTRING_SHA1_INPUT_ERROR "SHA1 input error."
    IDSTRING_SHA1_CALCULATION_ERROR "SHA1 calculation error."
    IDSTRING_SHA1_MISMATCH_ERROR "SHA1 mismatch.\nExpected: %ls,\nActual: %ls."
    IDSTRING_SERIAL_START_SIGNATURE_MISMATCH_ERROR "Serial start signature mismatch. Expected: 0x%016I64X, Read: 0x%016I64X."
    IDSTRING_SERIAL_FINAL_SIGNATURE_MISMATCH_ERROR "Serial final signature mismatch. Expected: 0x%016I64X, Read: 0x%016I64X."
    IDSTRING_RECEIVE_DESTINATION_BROWSE_DIALOG_TITLE "Please select the directory in which received data will be stored."
END
